.poke-list {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 80%;
  margin-right: 10px;
  background-color:#bff9ff;
  box-shadow: inset 7px 11px 13px 1px rgba(0,0,0,0.28);
  overflow: scroll;
}