.poke-list {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 80%;
  margin-right: 10px;
  background-color:#bff9ff;
  overflow: scroll;
}